{% extends sonata_block.templates.block_base %}

{% block block %}
    <div class="box">
        <div class="box-header">
            <h3 class="box-title">
                {{ title }}
            </h3>
        </div>
        <div class="box-body">
            <p>La frequencia del número 0 és {{ number0Frequency }}%</p>
            <p>La frequencia del número 1 és {{ number1Frequency }}%</p>
            <p>La frequencia del número 2 és {{ number2Frequency }}%</p>
            <p>La frequencia del número 3 és {{ number3Frequency }}%</p>
            <p>La frequencia del número 4 és {{ number4Frequency }}%</p>
            <p>La frequencia del número 5 és {{ number5Frequency }}%</p>
            <p>La frequencia del número 6 és {{ number6Frequency }}%</p>
            <p>La frequencia del número 7 és {{ number7Frequency }}%</p>
            <p>La frequencia del número 8 és {{ number8Frequency }}%</p>
            <p>La frequencia del número 9 és {{ number9Frequency }}%</p>
        </div>
    </div>
{% endblock %}


